<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Framework
        </q-toolbar-title>
        <label class="uppercase">
          </label>
          <q-btn
          flat
          dense
          round>
          <div>
          <q-btn icon = "exit_to_app"  @click.native="logOut()" style="padding-left: 25%">
            <q-tooltip>
            Cerrar sesión
            </q-tooltip>
          </q-btn>         
          </div>
          </q-btn>
      </q-toolbar>
    </q-layout-header>
    <q-layout-drawer
    v-model="leftDrawerOpen"
    :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null">
    <q-list
      no-border
      link
      inset-delimiter
    >
      <q-list-header class="text-center">Menú</q-list-header>
      <div v-for="(val, indexSize) in data" :key="indexSize">
        <br>
      <module  v-bind:dataModule="val"></module>
      </div>
    </q-list>
  </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import router from '../../router/routes'
import Module from '../Module/Module'

export default {
   name: 'e-MenuMain',
   components: { Module },
  data () {
    return {
      data: [
      ],
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL,
    logOut () {
      localStorage.clear()
      this.$router.push('/login')
    }
  },
  mounted() {
    this.data =[
    {
        label:'Módulo de usuario',
        to: '/formusers',
        icon: 'fas fa-user-plus'
      },
      {
        label: 'Lista de usuarios',
        to: '/userlist',
        icon: 'fas fa-list-ul'
      }
    ]   
  },
}
</script>

<style>
</style>
