<template>
  <q-page>
    <div>
      <br>
      <div class="doc-container">
        <div class="row justify-center">
          <div class="col-md-3">
            <q-field
            :error="errors.username != undefined"
            icon="fas fa-user-circle"
            :error-label="errors.username != undefined ? errors.username[0] : ''"
            inset="icon">
              <q-input v-model="dataUser.username" float-label="Usuario"/>
            </q-field>
            <q-field
            :error="errors.document != undefined"
            icon="fas fa-id-card"
            :error-label="errors.document != undefined ? errors.document[0] : ''"
            inset="icon">
             <q-input v-model="dataUser.document" float-label="Identificación"/>
            </q-field>
            <q-field
            :error="errors.login_type != undefined"
            icon="fas fa-list-alt"
            :error-label="errors.login_type != undefined ? errors.login_type[0] : ''"
            inset="icon">
              <q-select :value="dataUser.login_type" :options="selectLoginType" @change="showTypes" float-label="Tipo de usuario"/>
            </q-field>
            <div v-show="showType">
            <br>
            <div>
            <q-field
            icon="fas fa-hand-point-up"
            label="Estado">
              <q-toggle v-model="dataUser.is_active"  icon="cloud_done"  label="Inactivo-Activo"/>
            </q-field>
            <q-field
            :error="errors.groups != undefined"
            icon="fas fa-layer-group"
            :error-label="errors.groups != undefined ? errors.groups[0] : ''"
            inset="icon">
              <q-select multiple v-model="dataUser.groups" :options="selectGroups" float-label="Seleccionar grupo "/>
            </q-field>
            </div>
            <q-field
            :error="errors.first_name != undefined"
            icon="fas fa-user-alt"
            :error-label="errors.first_name != undefined ? errors.first_name[0] : ''"
            inset="icon">
              <q-input v-model.trim="dataUser.first_name" float-label="Nombre(s)"/>
            </q-field>
            <q-field
            :error="errors.last_name != undefined"
            icon="spellcheck"
            :error-label="errors.last_name != undefined ? errors.last_name[0] : ''"
            inset="icon">
              <q-input v-model="dataUser.last_name" float-label="Apellido(s)"/>
            </q-field>
            <q-field
            :error="errors.email != undefined"
            icon="email"
            :error-label="errors.email != undefined ? errors.email[0] : ''"
            inset="icon">
              <q-input v-model="dataUser.email" float-label="Correo eletronico"/>
            </q-field>
            <q-field
            v-if="dataUser.id == null"
            :error="errors.password != undefined"
            icon="fas fa-unlock-alt"
            :error-label="errors.password != undefined ? errors.password[0] : ''"
            inset="icon">
              <q-input v-model="dataUser.password" float-label="Contraseña" type="password" />
            </q-field>
            <q-field
            v-if="dataUser.id == null"
            :error="errors.confirm_password != undefined"
            icon="fas fa-unlock-alt"
            :error-label="errors.confirm_password  != undefined ? errors.confirm_password[0] : ''"
            inset="icon">
              <q-input v-model="dataUser.confirm_password" float-label="Confirmar contraseña" type="password" />
            </q-field>
            <br>
            </div>
            <br>
            <div>
              <q-btn label="Guardar" color="positive" @click="addUser()" />
              <q-btn label="Cancelar" style="left: 10px;" color="grey-8" @click="clear()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
 name: 'e-FormUser',
  data () {
    return {
      // Se pasa el selectGroups en el campo
      selectGroups: [{label: '', value: ''}],
      showType: false,
      dataUser: {
        id: null,
        username: '',
        login_type: '',
        is_active: true,
        password: '',
        confirm_password: '',
        first_name: '',
        last_name: '',
        email: '',
        document: '',
        groups: []
      },
      errors: [],
      selectLoginType: [
        {label: 'Aplicación', value: 'APPLICATION'},
        {label: 'Directorio activo', value: 'LDAP'}
      ]
    }
  },
  created () {
    this.listGroups()
  },
  methods: {
    /* funcion para validar el tipo de login para hacer el registro.
    recibe como parametro value que se captura en el selectLoginType*/
    showTypes (value) {
      this.dataUser.login_type = value
      this.showType = value === 'APPLICATION'
    },
    /*funcion para poder agregar a los usuario ya sea de director actico(LDPA) o
    de aplicacion*/
    addUser () {
      this.$axios.post('users/', this.dataUser).then((response) => {
        this.$q.notify({
          message: 'Usuario registrado',
          color: 'secondary',
          icon: 'check_circle'
        })
        this.clear()
      }).catch((error) => {
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido ingresar la información',
          color: 'red',
          icon: 'error'
        })
      })
    },
    /*funcion para obtener y listar los grupos de permisos en el selectGroups*/
    listGroups () {
      this.$axios.get('groups/').then((response) => {
        this.selectGroups = response.data.results.map(record => {
          return {label: record.name, value: record.id}
        })
      }).catch((error) => {
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido cargar los grupo ',
          color: 'red',
          icon: 'error'
        })
      })
    },
    /*funcion para limpiar los campos del fomulario despues de hacer un registro
    o cancelar  dicha funcion y tambien se limpia todo lo relacionado con el registro*/
    clear () {
      this.dataUser = {}
      this.errors = []
      this.dataUser.groups = ''
    }
  }
}
</script>

<style>
</style>
