<template>
  <div>
    <h5 class="text-center">Listado de usuarios</h5>
    <q-table
      title="Usuarios"
      :data="tableData"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :visible-columns="visibleColumns"
      @request="reload">
      <template slot="body" slot-scope="props">
        <q-tr :props="props">
          <q-td>
            {{props.row.username}}
          </q-td>
          <q-td>
            {{props.row.document}}
          </q-td>
          <q-td>
            {{props.row.first_name}}
          </q-td>
          <q-td>
            {{props.row.last_name}}
          </q-td>
          <q-td>
            {{props.row.email}}
          </q-td>
          <q-td>
            {{props.row.login_type}}
          </q-td>
            <div v-if="props.row.groups.length>0">
              <q-td  :key="index"  v-for="(item, index) in props.row.groups">
                <li>{{item.name}}</li>
              </q-td>
            </div>
            <div v-else>
                <q-td >No pertenece a un grupo</q-td>
            </div> 
            <q-td>
            <div v-if="props.row.is_active">  
             Activo
          </div>
            <div v-else>  
              Inactivo
          </div>
            </q-td>
          <q-td key="action" :props="props">
            <q-btn icon='create' round color='orange' @click="detailPerson(props.row.url)" class="q-mr-sm" size="sm">
              <q-tooltip>Editar</q-tooltip>
            </q-btn>
            <q-toggle v-model="props.row.is_active" @click.native="changedState(props.row)" >Estado</q-toggle>
          </q-td>
        </q-tr>
      </template>
      <template class="row flex-center q-py-sm" slot="pagination" slot-scope="props">
        <q-btn
          round dense size="sm" icon="undo" color="secondary" class="q-ma-sm"
          @click="loadPagination(pagination.previous, pagination.page--)"
          :disable="props.isFirstPage"
        />
          Page {{ props.pagination.page }} / {{ props.pagesNumber }}
        <q-btn class="q-ma-sm"
          round dense size="sm" icon="redo" color="secondary"
          @click="loadPagination(pagination.next, pagination.page++)"
          :disable="props.isLastPage"
        />
      </template>
    </q-table>
    <q-modal v-model="opened" :content-css="{minWidth: '40vw', minHeight: '83vh' }">
      <div class="text-center" >
      <q-card inline style="width: 98%;"  class="q-ma-xs">
        <q-card-title>
          Modificar usuario
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <q-field
          :error="errors.username != undefined"
          :error-label="errors.username != undefined ? errors.username[0] : ''"
          icon="fas fa-user-circle"
          inset="icon">
          <q-input v-model="detailUser.username" float-label="Usuario"  />
          </q-field>
          <q-field
          :error="errors.first_name != undefined"
          :error-label="errors.first_name != undefined ? errors.first_name[0] : ''"
          icon="fas fa-user-alt"
          inset="icon">
          <q-input v-model="detailUser.first_name" float-label="Nombres"  />
          </q-field>
          <q-field
          :error="errors.last_name != undefined"
          :error-label="errors.last_name != undefined ? errors.last_name[0] : ''"
          icon="spellcheck"
          inset="icon">
          <q-input v-model="detailUser.last_name" float-label="Apellidos"  />
          </q-field>
          <q-field
          :error="errors.document != undefined"
          :error-label="errors.document != undefined ? errors.document[0] : ''"
          icon="fas fa-id-card"
          inset="icon">
          <q-input v-model="detailUser.document" float-label="Documento"  />
          </q-field>
          <q-field
          :error="errors.email != undefined"
          :error-label="errors.email != undefined ? errors.email[0] : ''"
          icon="fas fa-envelope"
          inset="icon">
          <q-input v-model="detailUser.email" float-label="Correo electronico"  />
          </q-field>
          <br>
          <q-field
          icon="fas fa-hand-point-up"
          label="Estado">
          <q-toggle v-model="detailUser.is_active"  icon="cloud_done"  label="Inactivo-Activo"/>
          </q-field>
          <q-field
          :error="errors.groups != undefined"
          :error-label="errors.groups != undefined ? errors.groups[0] : ''"
          icon="fas fa-layer-group"
          inset="icon">
          <q-select multiple v-model="detailUser.groups"  :options="selectGroups" float-label="Seleccionar grupo "/>
          </q-field>
          </q-card-main>
        <q-card-separator />
        <q-card-actions align="center" >
          <q-btn style="right: 15px" color="negative"
            @click="opened = false"
            label="Cancelar"
          />
          <q-btn style="left: 15px" color="positive" label="Modificar" @click="editPerson" />
        </q-card-actions>          
        </q-card>
        <br>
      </div>
    </q-modal>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      selectGroups: [],
      opened: false,
      detailUser: {
        id: '',
        username: '',
        first_name: '',
        last_name: '',
        document: '',
        login_type: '',
        is_active: '',
        groups: '',
        email: ''
      },
      errors: [],
      pagination: {
        page: null,
        count: null,
        previous: null,
        next: null,
        descending: false,
        rowsPerPage: 10, // current rows per page being displayed
        rowsNumber: 1,
        sortBy: this.main
      },      
      visibleColumns: [
        'description',
        'Action'
      ],
      columns: [ 
        {
          name: 'username',
          required: true,
          label: 'Usuario',
          align: 'left',
          field: 'username',
          sortable: true,
          classes: 'style-table',
          style: 'width: 500px',
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: 'document',
          required: true,
          label: 'Documento',
          align: 'left',
          field: 'document',
          sortable: true,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'first_name',
          required: true,
          label: 'Nombres',
          align: 'left',
          field: 'first_name',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        { 
          name: 'last_name',
          required: true,
          label: 'Apellidos',
          align: 'left',
          field: 'last_name',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'email',
          required: true,
          label: 'Correo',
          align: 'left',
          field: 'email',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'login_type',
          required: true,
          label: 'Tipo de login',
          align: 'left',
          field: 'login_type',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'groups',
          required: true,
          label: 'Grupo',
          align: 'left',
          field: 'groups',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'is_active',
          required: true,
          label: 'Estado',
          type: 'boolean',
          field: 'is_active',
          sortable: false,
          classes: 'style-table',
          style: 'width: 500px'
        },
        {
          name: 'action',
          required: true,
          label: 'Acciones',
          align: 'left',
          sortable: false,
          classes: 'style-table',
          style: 'width: 50px'
        }
      ],
      tableData: []
    }
  },
  beforeMount () {
    this.loadUser(),
    this.listGroups()
  },
  methods: {
    /*funcion para editar los el usuario selecinado se obtiene la data que viene y se le manda 
    la data con la actulizacion, se ejecuta en el boton modificar del modal */
    editPerson () {
      this.$axios.put('users/' + this.detailUser.id + '/', this.detailUser).then((response) => {
        this.opened = true
        this.$q.notify({
          message: 'Usuario actualizado',
          color: 'secondary',
          icon: 'edit'
        })
        this.clear()
        this.opened = false
        this.loadUser()
        this.reload(this.tableData)
      }).catch((error) => {
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido actualizar la información',
          color: 'red',
          icon: 'error'
        })
      })
    },
    /*funcion para obtener los datos del usuario los cuales se obtienen mediante el parametro URL que 
    necesita es unico para cada usuario */
    detailPerson (url) {
      this.$axios.get(url)
        .then(response => {
          this.detailUser = response.data
          this.opened = true
          this.detailUser.id = response.data.id
          this.detailUser.username = response.data.username
          this.detailUser.first_name = response.data.first_name
          this.detailUser.last_name = response.data.last_name
          this.detailUser.email = response.data.email
          this.detailUser.document = response.data.document
          this.detailUser.is_active = response.data.is_active
          this.detailUser.groups = response.data.groups.map(a => {
            return a.id
          })
        })
        .catch((err) => {
          console.log('AXIOS ERROR: ', err)
        })
    },
    /*funcion para recargar la tabla segun la paginacion y recibe como parametro 
    la data que contienen la tabla
     */
    reload (data) {
      this.loading = true
      let rowsPerPage = data.pagination.rowsPerPage, sortBy = data.pagination.sortBy
      this.sortByOld = sortBy
      if (rowsPerPage || rowsPerPage === 0) {
        this.pagination.page = 1
        this.pagination.rowsPerPage = rowsPerPage
        if (rowsPerPage === 0) {
          this.pagination.rowsPerPage = this.pagination.rowsNumber
        }
      }
      if (sortBy === this.sortByOld) {
        if (this.prefix === '-') {
          this.prefix = ''
        } else {
          this.prefix = '-'
        }
        this.pagination.sortBy = this.prefix + sortBy
      }
      this.loadUser()
    },
    /*funcion para obetener los datos de los usuarios  poder cargar la petición se hace
    utilizando un decorador para poder obtener todos los usuario
     */
    loadUser () {
      this.$axios.get(`users/?limit=${this.pagination.rowsPerPage}&ordering=${this.pagination.sortBy}`)
        .then(response => {
          console.log(response.data.results)
          this.tableData = response.data.results
          this.setPagination(response.data)
        })
        .catch((err) => {
         console.log('AXIOS ERROR: ', err)
        })
    },
    setPagination (paginations) {
      // this.setData(pagination.results)
      // this.pagination.page = pagination.current_page
      this.pagination.rowsNumber = paginations.count
      this.pagination.next = paginations.next
      this.pagination.previous = paginations.previous
      console.log(this.pagination)
    },
    clear () {
      this.detailUser = {}
      this.errors = []
      this.detailUser.groups = ''
    },
    listGroups () {
      this.$axios.get('groups/').then((response) => {
        this.selectGroups = response.data.results.map(record => {
          return {label: record.name, value: record.id}
        })
      }).catch((error) => {
        console.log(error)
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido guardar con el grupo ',
          color: 'red',
          icon: 'error'
        })
      })
    },
    /*funcion para cambiar el estado del usuario recibe como parametro un objeto 
    que contiene el estado del usuario y es el que se envia en la petición
     */
    changedState(obj) {
      let status = {
        is_active: obj.is_active
      }
      this.$axios.patch('users/' + obj.id + '/' , status).then((response) => {
        this.$q.notify({
          message: 'Estado actualizado',
          color: 'secondary',
          icon: 'edit'
        })
        // this.reload(this.tableData)
      }).catch((error) => {
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido actualizar el estado',
          color: 'red',
          icon: 'error'
        })
      })
    }
  }
}
</script>
<style>
.style-table{
color: rgb(0, 0, 0) !important;
}
</style>
