<template>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewresetpassword" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
          <body>
        <div class="row justify-center">
        <div class="doc-container">  
        <q-card class="q-ma-md">
          <div class="text-center">
           <h5>Restablecer contraseña</h5>
          </div>
          <q-card-main v-if="this.authentication == true">
            <q-field
              :error="errors.password != undefined"
              icon="fas fa-unlock-alt"
              :error-label="errors.password != undefined ? errors.password[0] : ''"
              inset="icon">
              <q-input v-model="dataUserPassword.password" float-label="Contraseña" type="password"><q-tooltip>Ingrese nueva contraseña</q-tooltip></q-input>
            </q-field>
            <q-field
            :error="errors.confirm_password != undefined"
            icon="fas fa-unlock-alt"
            :error-label="errors.confirm_password != undefined ? errors.password[0] : ''"
            inset="icon">
              <q-input v-model="dataUserPassword.confirm_password" float-label="Confirmar contraseña" type="password"><q-tooltip>confirmar nueva contraseña</q-tooltip></q-input>
            </q-field>
          </q-card-main>
          <div v-if="this.authentication == false">
            {{ this.authenticationMessage }}
          </div> 
          <q-card-actions align="center">
            <q-btn label="Asignar" class="full-width"  color="primary" @click="assignNewPassword()" />
          </q-card-actions>
        </q-card>
        </div>
          </div>
      </body>
      <footer><div>.</div></footer>
    </html>
</template>

<script>
import router from '../../router/routes'

export default {
  name: 'e-ResetPassword',
  data () {
    return {
      authentication: false,
      authenticationMessage: '',
      dataUserPassword: {
        password: '',
        confirm_password: ''
      },
      errors: [
        {
          password: null,
          confirm_password: null
        }
      ]
    }
  },
  created () {
    this.validate()
  },
  methods: {
    /*funcion para enviar la data con los la contraseña nueva pero tambien se valida que el token 
    que vienen sea valido y no este vencido para poder asi enviar la contraseña nueva */
    assignNewPassword () {
      let token = this.$router.history.current.params.token
      this.$axios.put('password_reset/' + token + '/', this.dataUserPassword).then((response) => {
        this.$q.notify({
          message: 'Contraseña asignada',
          color: 'secondary',
          icon: 'edit'
        })
        this.$router.push('/login')
      }).catch((error) => {
        console.log(error)
        this.errors = error.response.data
        this.$q.notify({
          message: 'No se ha podido asignar la contraseña',
          color: 'red',
          icon: 'error'
        })
      })
    },
    /**
     * Función para validar que la url sea valida,activa y no se alla usado
     * @param {String} token parametro obtenido de la URL, llamado token devuelto al momento de hacer la petición
     *  de restablacer la contraseña
     */
    validate () {
      let token = this.$router.history.current.params.token
      this.$axios.get('password_reset_validate/' + token + '/').then((response) => {
        if (response.data.codereset === '1324677y86876868776565543532234243255440') {
          this.authentication = true
        } else if (response.data.codereset === '1324677y86976868i7985543532034243255435') {
          this.authentication = false
          this.$q.notify({
            message: response.data.detail,
            color: 'red',
            icon: 'error'
          })
        } else if (response.data.codereset === '13sad4607868768681765249035322342432554') {
          this.authentication = false
          this.$q.notify({
            message: response.data.detail,
            color: 'red',
            icon: 'error'
          })
        } else if (response.data.codereset === '231324677y8687ds68776565543530000003255') {
          this.authentication = false
          this.$q.notify({
            message: response.data.detail,
            color: 'red',
            icon: 'error'
          })
        }
        this.authenticationMessage = response.data.detail
      })
    }
  }
}
</script>
<style>
.div {
  font-size: 15px;
}
</style>
