<template>
   <div class="layout-padding image">
    <div class="row justify-center">
      <q-card inline dark class="q-ma-sm card" id="style_card">
        <q-card-title class="text-center" style="color: #476BE8;">
          INICIAR SESIÓN
          <q-icon slot="right" name="verified_user" />
        </q-card-title>
        <q-card-main>
          <q-field
          :error="errors.username != undefined"
          :error-label="errors.username != undefined ? errors.username[0] : ''"
          >
            <q-input color="primary" v-model="username" float-label="Usuario" />
          </q-field>
          <q-field
          :error="errors.password != undefined"
          :error-label="errors.password != undefined ? errors.password[0] : ''"
          >
            <q-input color="primary" v-model="password" float-label="Contraseña" type="password" @keyup.enter="sesion()"/>
          </q-field>
        </q-card-main>
        <q-card-separator />
        <q-card-actions >
          <q-btn class="full-width" label="Iniciar sesion" color="primary" rounded @click="sesion()"/>
        </q-card-actions>
        <q-card-main class="text-center">
        <a href="#" @click="opened=true" id="resetpassword" >
        <span>¿Olvidaste tu contraseña?</span>
        </a>
        <q-modal v-model="opened" :content-css="{minWidth: '35vw', minHeight: '15vh' }">
          <div class="q-ma-md">
              <q-card-title class="text-center">
                Restablecer contraseña
              </q-card-title>
              <q-card-separator />
              <q-field
              :error="errors.email != undefined"
              icon="fas fa-envelope"
              :error-label="errors.email != undefined ? errors.email : ''"
              inset="icon">
              <q-input v-model="dataReset.email" float-label="Correo electronico"><q-tooltip>Ingrese el correo el cual tiene asociado en la aplicación</q-tooltip></q-input>
              </q-field>
              <br>
                <q-card-actions align="center" id="card_action_modal" >
                  <q-btn id="btn_enviar" color="primary" label="Enviar" @click="validationEmail()" />
                </q-card-actions>
          </div>
        </q-modal>
        </q-card-main>
      </q-card>
    </div>
  </div>
</template>

<script>
import {
  Loading,
  QSpinnerBall
} from 'quasar'
export default {
  name: "e-LoginComponent",
  data() {
    return {
      opened: false,
      username: '',
      password: '',
      errors: [
        ],
       dataReset: {
      email: ''
    }
    }
  },
  /*Se valida que no alla un username en localstorage para poder ingresar a la aplicación */
  created () {
    if (localStorage.getItem('username') != null) {
      this.$router.push('home')
    }
  },
  methods: {
    /*funcion para el incio de sesion y en la cual es obtienedaos esenciales para poder ingresar 
    a la aplicación y en la cual al lo ultimo de esta petición se le da la ruta para el home de la aplicación*/
    sesion () {
      this.$axios.post('login/', {username: this.username, password: this.password})
        .then(response => {
          localStorage.setItem('id', response.data.user.id)
          localStorage.setItem('username', response.data.user.username)
          localStorage.setItem('first_name', response.data.user.first_name)
          localStorage.setItem('last_name', response.data.user.last_name)
          localStorage.setItem('email', response.data.user.email)
          localStorage.setItem('position', response.data.user.position)
          localStorage.setItem('is_superuser', response.data.user.is_superuser)
          localStorage.setItem('permissions', JSON.stringify(response.data.permissions))
          localStorage.setItem('11223344556677889900', response.data['token'])
          this.$router.push('home')
        }).catch((error) => {
          this.errors = error.response.data
        })
    },
    /*funcio para validar si el email es valido y que si este registrado en la aplicación  */
    validationEmail () {
      Loading.show({
        delay: 400, // ms
        spinner: QSpinnerBall,
        message: 'Enviando...',
        spinnerSize: 50, // in pixels
        spinnerColor: 'primary'
      })
      this.$axios.post('password_reset/' , this.dataReset).then((reponse) => {
        this.opened = false
        this.$q.notify({
          message: 'Solicitud enviada',
          color: 'secondary',
          icon: 'far fa-paper-plane'
        })
        this.$q.loading.hide({
          delay: 400 // ms
        }),
        this.clear()
      }).catch((error) => {
        this.errors = error.response.data
        this.$q.loading.hide({
          delay: 400 // ms
        })
      })
    },
    /*funcio para limpiar la  modal y su respectiva data */
    clear () {
      this.dataReset = {}
      this.errors = []
    }
  }
}
</script>
<style>
.card {
  margin-top: 8%;
  opacity: 1.1;
  border-radius: 15px;
}
.image {
  width: 100%;
  height: 657px;
  background: rgb(2, 2, 2);
  background-attachment: fixed;
  background-size: 100%;
}
.inputs:hover {
  color: #6CB6C2;
}
#resetpassword {
text-decoration: none;
}
#style_card{
width: 350px;
background-color: white;
}
#btn_enviar{
width: 350px;
}
#card_action_modal{
padding-left: 3%;
padding-bottom: 5%;
}
</style>
