<template >
    <q-item link :to="dataModule.to">
      <q-item-side :icon="dataModule.icon" />
      <q-item-main :label="dataModule.label"/>
    </q-item>
</template>

<script>
export default {
   name: 'e-Module',
  data () {
    return {}
  },
  props: {
    dataModule: {
      label: '',
      to: '',
      icon: ''
    }
  }
}
</script>

<style>
</style>
